.wave-container {
  z-index: 8;
}

.laptop-container {
  background: linear-gradient(to left top, #9d1231, #ff9e7a);
  min-height: 120vh;
  width: 100%;
  margin: 5rem auto;
  position: relative;
}

/* Laptop Styles */

.laptop {
  width: 70%;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.laptop__screen {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding-top: 54%;
  border-radius: 3% 3% 0 0/5% 5% 0 0;
  background: #ddd;
}

.laptop__frame {
  position: absolute;
  border-radius: 2.8% 2.8% 0 0/4.8% 4.8% 0 0;
  top: 0.3%;
  bottom: 0;
  left: 0.2%;
  right: 0.2%;
  background: #000;
}

.laptop__display {
  position: absolute;
  left: 2%;
  top: 6%;
  right: 2%;
  bottom: 6%;
  background: #fff;
  overflow: hidden;
}

.laptop__controls {
  position: relative;
  border-radius: 1%/2%;
  background: linear-gradient(to top right, #ddd, #eee);
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  z-index: 1;
  padding-top: 8%;
}

.laptop__keyboard {
  position: absolute;
  left: 50%;
  top: 10%;
  height: 40%;
  width: 70%;
  transform: translateX(-50%);
  background: #555;
  clip-path: polygon(4.5% 0, 95.5% 0, 100% 100%, 0% 100%);
}

.laptop__touchpad {
  position: absolute;
  left: 50%;
  bottom: 7%;
  height: 35%;
  width: 30%;
  transform: translateX(-50%);
  background: #aaa;
  clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
}

.laptop__depth {
  margin-top: -0.1%;
  position: relative;
  padding-top: 1.3%;
  border-radius: 0 0 1% 1% / 0 0 10% 10%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(170, 170, 170, 1) 0%,
    rgba(238, 238, 238, 1) 0.5%,
    rgba(140, 140, 140, 1) 2%,
    rgba(210, 210, 210, 1) 50%,
    rgba(140, 140, 140, 1) 98%,
    rgba(238, 238, 238, 1) 99.5%,
    rgba(170, 170, 170, 1) 100%
  );
}

.laptop__shadow {
  margin-top: -0.4%;
  padding-top: 1.3%;
  background: rgba(30, 30, 30, 0.7);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 5);
  border-radius: 0 0 10% 10% / 0 0 100% 100%;
}

/* Display */

.waves {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headlines {
  font-family: sans-serif;
  line-height: 1.2;
  color: #fff;
  font-weight: bold;
  height: 100%;
  .btn {
    margin-top: 2rem;
  }

  .main-content {
    display: flex;
    align-items: center;
    height: 80%;
    width: 91%;

    .cards-container {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 219px;
      height: 255px;
      background: rgba(217, 217, 217, 0.58);
      border: 1px solid #ffffff8a;
      box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.72);
      backdrop-filter: blur(6px);
      border-radius: 20px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s;
      display: flex;
      align-items: center;
      -webkit-user-select: none;
      user-select: none;
      font-weight: bolder;
      color: black;
      &:hover {
        border: 1px solid black;
        transform: scale(1.05);
      }

      .profile-suit {
        height: 254px;
        border-radius: 20px;
      }
    }
  }

  .text-content {
    padding: 2rem 1.5rem;
    padding-right: 0;
    width: 60%;
  }
  .clients {
    // display: flex;
    // justify-content: space-around;
    // padding: 0.5rem 1rem;
    // border-bottom: 1px solid #00000085;
    // border-top: 1px solid #00000085;
    height: 70px;

    .list {
      display: flex;
      width: 100%;
      position: relative;
      min-width: calc(var(--width) * var(--quantity));
      border-bottom: 1px solid #00000073;
      height: 84px;
      .item {
        width: var("--width");
        height: var("--height");
        position: absolute;
        left: 100%;
        animation: autoRun 10s linear infinite;

        animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
        padding: 0.8rem;
      }
    }

    img {
      height: 62px;
    }
    #telefonica-logo {
      width: 100px;
    }
    @keyframes autoRun {
      from {
        left: 100%;
      }
      to {
        left: calc(var(--width) * -1);
      }
    }
  }
}

.light-card {
  width: 229px;
  height: 161px;
  border: 2px solid rgba(128, 128, 128, 0.5490196078);
  border-radius: 2rem;
  text-align: center;
  padding: 1rem;
  margin: 2rem 0;
  img {
    width: 25px !important;
  }
  h3 {
    color: #000;
  }
  h4 {
    font-weight: 500;
    color: #00000096;
  }
}

.title {
  color: #000;
  // left: 50%;
  top: 10%;
  // transform: translate(-50%, -50%);
  font-size: 2rem;
  padding: 1rem 0;
}
.text-laptop {
  color: #000;
  line-height: 1.5;
  padding: 0;
  margin-right: 3rem;
}
.author {
  position: absolute;
  right: 2%;
  bottom: 2%;
  font-size: clamp(1px, 1.2vw, 50px);
  opacity: 0.5;
  color: inherit;
  text-decoration: none;
  transition: opacity 200ms;
}

.author:hover {
  opacity: 1;
}

.custom-shape-divider-bottom-1742654989 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1742654989 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 161px;
}

.custom-shape-divider-bottom-1742654989 .shape-fill {
  fill: #1a1a1a;
}

.light-mode {
  .custom-shape-divider-bottom-1742654989 .shape-fill {
    fill: #e9f1f9;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-21 20:28:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* Iphone ------------------------*/

#smartphone {
  position: relative;
  top: 55px;
  .content-display {
    position: absolute;
    height: 95%;
    background-color: #fff;
    width: 86%;
    top: 2%;
    right: 7%;
    z-index: 6;
    padding: 1rem;
  }
}

.phone-wrapper img {
  width: 300px;

  z-index: 7;
  position: relative;
}

.phone-wrapper {
  position: absolute;
}

.phone-screen {
  position: absolute;
  z-index: 3;
}

.phone-wrapper.new-iphone {
  bottom: 0;
  right: 0;
}

.phone-wrapper.new-iphone .phone-screen {
  left: 27px;
  width: 375px;
  top: 15px;
  height: 812px;
  background-color: pink;
}

.phone-wrapper.new-iphone #new-iphone-frame {
  display: block;
}

#new-iphone-frame {
  display: none;
}

.phone-wrapper.old-iphone #old-iphone-frame {
  display: block;
}
#old-iphone-frame {
  display: none;
}

.phone-wrapper.old-iphone {
  width: 355px;
}

.phone-wrapper.old-iphone .phone-screen {
  left: 15px;
  width: 325px;
  top: 80px;
  height: 568px;
  background-color: aquamarine;
}

.phone-wrapper.android #android-frame {
  display: block;
}

#android-frame {
  display: none;
}

.phone-wrapper.android {
  width: 460px;
  height: 1060px;
}

.phone-wrapper.android .phone-screen {
  left: 25px;
  width: 411px;
  top: 115px;
  height: 823px;
  background-color: lightskyblue;
}

.in-app {
  position: relative;
  width: 100%;
  height: 100%;
}

.button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff3300;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.phone-frame-wrapper {
  list-style: none;
  display: flex;
  margin: 10px;
}

.phone-frame-wrapper li {
  margin: 10px;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 5px;
  color: #222;
  cursor: pointer;
}

.phones:hover {
  background-color: #ff3300;
  color: white;
}

.phones.active {
  background-color: #ff3300;
  color: white;
}

@media (min-width: 1600px) {
  /* Ajusta el tamaño según necesites */
  .laptop {
    width: 60% !important;
  }
}

/* social media*/
.sc-dQkurY {
  position: absolute;
  bottom: 5%;
  z-index: 8;
  right: 9%;
}

.custom-shape-divider-top-1742647149 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1742647149 svg {
  position: relative;
  display: block;
  width: calc(161% + 1.3px);
  height: 132px;
}

.custom-shape-divider-top-1742647149 .shape-fill {
  fill: #1a1a1a;
}

.light-mode {
  .custom-shape-divider-top-1742647149 .shape-fill {
    fill: #e9f1f9;
  }
}
