#timeline {
  padding-top: 12rem;
  height: 120vh;
  strong {
    font-weight: 600;
  }
  h1 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 100;
    font-size: 2.4em;
  }
  #content {
    margin-top: 50px;
    text-align: center;
  }
  /* Timeline */
  .timeline {
    border-left: 4px solid #4298c3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(49, 49, 49, 0.8);
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 50%;
  }
  .timeline h1,
  .timeline h2,
  .timeline h3 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }
  .timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
    p {
      padding: 0;
      padding-top: 1rem;
    }
  }
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  .timeline .event:before {
    color: #fff;
    content: attr(data-date);
    text-align: left;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 180px;
    right: 87%;
  }
  .timeline .event:after {
    box-shadow: 0 0 0 4px #4298c3;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
  .view-onscroll {
    padding-top: 2rem;

    .animate {
      // -webkit-animation: bounce-in-top 1.1s both;
      // animation: bounce-in-top 1.1s both;
      // animation-play-state: paused;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      // transition: all 1s;
      &.visible {
        // animation-play-state: running; /* Se activa cuando el elemento es visible */
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        // transition: all 1s;
      }
      &:nth-child(1) {
        // animation-delay: 0s;
        transition: 0.2s;
      }
      &:nth-child(2) {
        transition: 0.4s;
      }
      &:nth-child(3) {
        transition: 0.6s;
      }
      &:nth-child(4) {
        transition: 0.8s;
      }
      &:nth-child(5) {
        transition: 1s;
      }
      &:nth-child(6) {
        transition: 1.2s;
      }
      &:nth-child(7) {
        transition: 1.4s;
      }
      &:nth-child(8) {
        transition: 1.6s;
      }
      &:nth-child(9) {
        transition: 1.8s;
      }
      &:nth-child(10) {
        transition: 2s;
      }
    }
  }
  @media (min-width: 1600px) {
    /* Ajusta el tamaño según necesites */
    .view-onscroll {
      .animate {
        width: 22%;
      }
    }
  }
  .icon-tech {
    text-align: center;
    background: linear-gradient(135deg, #393f46 0%, #202328 50%) no-repeat;
    background-clip: padding-box;
    border-color: transparent;
    border-radius: 1rem;
    width: 20%;
    padding: 2rem;
    margin: 0.5rem;
    &:hover {
      background-color: rgba(138, 147, 158, 0.2);
      border-color: #fff;
      border: 1px solid;
    }
  }
}

.custom-shape-divider-top-1742655403 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1742655403 svg {
  position: relative;
  display: block;
  width: calc(275% + 1.3px);
  height: 800px;
}

.custom-shape-divider-top-1742655403 .shape-fill {
  fill: #1a1a1a;
}

.light-mode {
  .custom-shape-divider-top-1742655403 .shape-fill {
    fill: #e9f1f9;
  }
}

.custom-shape-divider-bottom-1743263641 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1743263641 svg {
  position: relative;
  display: block;
  width: calc(187% + 1.3px);
  height: 110px;
}

.custom-shape-divider-bottom-1743263641 .shape-fill {
  fill: #1a1a1a;
}
